import {
  ChangeDetectionStrategy,
  Component
  } from '@angular/core';

@Component({
	selector: '<%= selector %>',
	templateUrl: './<%= name %>.component.html',
	styleUrls: ['./<%= name %>.component.scss'],
	changeDetection: ChangeDetectionStrategy.OnPush
})
export class <%= classify(name) %>Component {}
