/*

!/.github/
!/.vscode/
!/apps/
!/docs/
!/libs/
!/python/
!/python.egg-info
!/templates/
!/tools/

!/.gitignore
!/.prettierignore
!/.prettierrc
!/angular.json
!/CHANGELOG.md
!/CONTRIBUTING.md
!/jest.config.js
!/LICENSE.md
!/nx.json
!/package.json
!/requirement.txt
!/setup.py
!/README.md
!/TODO.md
!/tsconfig.json
!/tslint.json
!/yarn.lock

__pycache__
python.egg-info

/**/*-tmp-dump.json
