import { createAction, union } from '@ngrx/store';
import { featureName } from '../feature.config';

const actions = 'toggle-line';

export const offline = createAction(`[${featureName}][${actions}] toggleOffline`);
export const online = createAction(`[${featureName}][${actions}] toggleOnline`);

const all = union({
	offline,
	online
});
export type ToggleLineActionsUnion = typeof all;
